version: "3.3"

services:
  redis:
    image: redis:7
  fastapi_app:
    build: .
    container_name: fastapi_crm
    env_file:
      - .env
    ports:
      - "8001:8001"
    volumes:
      - .:/app
    depends_on:
      - redis  
    command: >
      bash -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload"

volumes:
  postgres_data:
